body {
    background-color: white;
  }
#map {
    position:inherit;
    border: 1px solid black;
    width: 140%;
    height: 1000px;
    float: left;
    display: flex;
}


#wrapper{
    height: 1000px;
}
